


@{ Register Src="controles/Menu.ascx" TagName="Menu" TagPrefix="uc1" }
@{ Register Src="controles/CloseSession.ascx" TagName="CloseSession" TagPrefix="uc2" }
@{ Register Src="controles/Ctr_Usuario.ascx" TagName="Ctr_Usuario" TagPrefix="uc3" }
@{ Register Assembly="Anthem" Namespace="Anthem" TagPrefix="anthem" }
@{ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" }
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>T3Web - Carga de cuotas por promotor</title>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css" />
    <style type="text/css">
        .cuerpo
        {
            background-color: White;
            margin-top: 0;
        }
        .barra
        {
            height: 21px;
            width: 775px;
            background-color: #bbd4f8;
            border-left: #3b619c 1px solid;
            border-right: #3b619c 1px solid;
        }
        .titulo
        {
            padding: 6px;
            font-family: Verdana;
            font-size: x-small;
            font-weight: bold;
            margin-bottom: 20px;
            background-color: #666666;
            color: White;
            text-align: center;
            width: 773px;
        }
        .panel
        {
            background-color: #E0E0E0;
            border-color: gray;
            border-width: 1px;
            border-style: solid;
            width: 540px;
            padding: 5px 10px 5px 10px;
        }
        .panel tr
        {
            height: 23px;
        }
        .advertencia
        {
            padding-top: 35px;
        }
        .style1
        {
            height: 31px;
        }
        .style2
        {
            width: 200px;
        }
    </style>

    <script type="text/javascript">

        function _Mtd_MostrarTab(_Int_Tab) {
            var container = $find('_Tab_Principal');
            container.set_activeTabIndex(_Int_Tab);
        }

        function _Mtd_Onload() {
            document.getElementById('progressBackgroundFilter').style.display = "block";
        }

    </script>

</head>
<body topmargin="0" class="cuerpo" onload="_Mtd_Onload();">
    <center>
        <form id="Frm_PromoCuota" runat="server">
        <asp:ScriptManager ID="Manejador" runat="server" EnableScriptGlobalization="True"
            EnableScriptLocalization="False">
        </asp:ScriptManager>
        <asp:UpdatePanel ID="_UP_Menu" runat="server">
            <ContentTemplate>
                <table style="width: 773px; height: 49px;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center">
                            <uc1:Menu ID="Menu1" runat="server" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="99.99%" class="barra">
                                <tr>
                                    <td width="5">
                                        <font face="Verdana" size="1"><strong><span>
                                            <asp:ImageButton Style="cursor: default" ID="ImageButton1" runat="server" ImageUrl="image/separator.gif" />
                                        </span></strong></font>
                                    </td>
                                    <td width="45">
                                        <font face="Verdana" size="1"><strong><span>
                                            <asp:UpdatePanel ID="MnuPrincipal" runat="server">
                                                <ContentTemplate>
                                                    <asp:ImageButton ID="_Btn_Nuevo" runat="server" ImageUrl="image/new.gif" Enabled="false" />
                                                    <asp:ImageButton ID="_Btn_Guardar" runat="server" ImageUrl="image/save.gif" Enabled="false" />
                                                </ContentTemplate>
                                            </asp:UpdatePanel>
                                        </span></strong></font>
                                    </td>
                                    <td width="10%">
                                        <font face="Verdana" size="1"><strong><span>
                                            <asp:ImageButton Style="cursor: default" ID="ImageButton6" runat="server" ImageUrl="image/separator.gif" />
                                        </span></strong></font>
                                        <uc2:CloseSession ID="CloseSession2" runat="server" />
                                    </td>
                                    <td style="text-align: right">
                                        <uc3:Ctr_Usuario ID="Ctr_Usuario1" runat="server" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </ContentTemplate>
        </asp:UpdatePanel>
        <asp:UpdatePanel ID="_UP_Datos" runat="server" UpdateMode="Conditional">
            <ContentTemplate>
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="titulo">
                            Carga de cuotas por promotor
                        </td>
                    </tr>
                </table>
                <asp:Panel ID="_Pnl_Compañia" runat="server">
                    <table>
                        <tr>
                            <td style="text-align: right;">
                                <asp:Label ID="_Lbl_Compañia" runat="server" Font-Bold="true" Font-Names="Verdana"
                                    Font-Size="7pt">Compañía : </asp:Label>
                            </td>
                            <td style="text-align: left;">
                                <asp:DropDownList ID="_Cmb_Compañia" runat="server" CssClass="textoRegular" Width="400"
                                    AutoPostBack="true" OnSelectedIndexChanged="_Cmb_Compañia_SelectedIndexChanged">
                                </asp:DropDownList>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </asp:Panel>
                <table>
                    <tr>
                        <td>
                            <asp:Panel ID="_Pnl_Panel" runat="server" CssClass="panel" Width="366px" Height="130px">
                                <table width="360px" height="110px">
                                    <tr>
                                        <td style="text-align: right;">
                                            <asp:Label ID="_Lbl_Año" runat="server" Font-Bold="true" Font-Names="Verdana" Font-Size="7pt">Año : </asp:Label>
                                        </td>
                                        <td style="text-align: left;">
                                            <asp:DropDownList ID="_Cmb_Año" runat="server" CssClass="textoRegular" AutoPostBack="true"
                                                Width="270" OnSelectedIndexChanged="_Cmb_Año_SelectedIndexChanged">
                                            </asp:DropDownList>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <asp:Label ID="_Lbl_Mes" runat="server" Font-Bold="true" Font-Names="Verdana" Font-Size="7pt">Mes : </asp:Label>
                                        </td>
                                        <td style="text-align: left;">
                                            <asp:DropDownList ID="_Cmb_Mes" runat="server" CssClass="textoRegular" Width="270">
                                            </asp:DropDownList>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <asp:Label ID="_Lbl_Promotor" runat="server" Font-Bold="true" Font-Names="Verdana"
                                                Font-Size="7pt">Promotor : </asp:Label>
                                        </td>
                                        <td style="text-align: left;">
                                            <asp:DropDownList ID="_Cmb_Promotor" runat="server" CssClass="textoRegular" Width="270">
                                            </asp:DropDownList>
                                        </td>
                                    </tr>
                                </table>
                                <asp:Button ID="_Btn_Consultar" runat="server" Font-Names="Verdana" Font-Size="7pt"
                                    OnClick="_Btn_Consultar_Click" Style="margin-left: 15px;" Text="Consultar" Width="108px"
                                    BorderStyle="Solid" CssClass="textoRegular" />
                            </asp:Panel>
                        </td>
                        <td class="style2">
                            <asp:Panel ID="_Pnl_Panel2" runat="server" CssClass="panel" Height="130px" Width="366px">
                                <table width="360px" cellpadding="5">
                                    <tr>
                                        <td class="style1">
                                            <asp:Button ID="_Btn_CopiarCuota" runat="server" Font-Names="Verdana" Font-Size="7pt"
                                                OnClick="_Btn_CopiarCuota_Click" Style="margin-left: 15px;" Text="Copiar cuotas..."
                                                Width="130" BorderStyle="Solid" CssClass="textoRegular" />
                                        </td>
                                        <td class="style1" align="left">
                                            <asp:Label ID="_Lbl_CopiarCoutas" runat="server" Font-Names="Verdana" CssClass="textoRegular7pt">Copia las cuotas de todos los promotores de un mes a otro</asp:Label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <asp:Button ID="_Btn_DescargarPlantilla" runat="server" Font-Names="Verdana" Font-Size="7pt"
                                                OnClick="_Btn_DescargarPlantilla_Click" Style="margin-left: 15px;" Text="Descargar plantilla..."
                                                Width="130px" BorderStyle="Solid" CssClass="textoRegular" />
                                        </td>
                                        <td align="left">
                                            <asp:Label ID="_Lbl_DescargarPlantilla" runat="server" Font-Names="Verdana" CssClass="textoRegular7pt">Descarga un documento excel usado para ingresar las cuotas</asp:Label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <asp:Button ID="_Btn_ImportarCuotas" runat="server" Font-Names="Verdana" Font-Size="7pt"
                                                OnClick="_Btn_ImportarCuotas_Click" Style="margin-left: 15px;" Text="Importar cuotas..."
                                                Width="130" BorderStyle="Solid" CssClass="textoRegular" />
                                        </td>
                                        <td align="left">
                                            <asp:Label ID="_Lbl_Compañia2" runat="server" Font-Names="Verdana" CssClass="textoRegular7pt">Importa al sistema las cuotas ingresadas en el documento excel</asp:Label>
                                        </td>
                                    </tr>
                                </table>
                            </asp:Panel>
                        </td>
                    </tr>
                </table>
                <asp:Label ID="_Lbl_Advertencia" runat="server" Font-Bold="True" ForeColor="Black"
                    Font-Names="Verdana" Font-Size="7pt" CssClass="advertencia" Height="50px" Visible="False">No hay datos disponibles.
                </asp:Label>
                <br>
                <asp:GridView ID="_Dtg_Detalle" runat="server" CellPadding="4" ForeColor="#333333"
                    AutoGenerateColumns="False" Font-Bold="False" Font-Names="Verdana" Font-Size="7pt"
                    OnPageIndexChanging="_Dtg_Detalle_PageIndexChanging" AllowPaging="True" BorderColor="Black"
                    BorderWidth="1px">
                    <AlternatingRowStyle BackColor="White" />
                    <Columns>
                        <asp:BoundField DataField="ccliente" HeaderText="Cliente">
                            <ItemStyle HorizontalAlign="Center" Width="50px" />
                        </asp:BoundField>
                        <asp:BoundField DataField="c_nomb_comer" HeaderText="Nombre comercial">
                            <HeaderStyle Width="500px" />
                            <ItemStyle HorizontalAlign="Left" Width="500px" />
                        </asp:BoundField>
                        <asp:BoundField DataField="ccuota" HeaderText="Cuota" HeaderStyle-HorizontalAlign="Right">
                            <HeaderStyle HorizontalAlign="Right" />
                            <ItemStyle HorizontalAlign="Right" Width="100px" />
                        </asp:BoundField>
                    </Columns>
                    <EditRowStyle BackColor="#2461BF" />
                    <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                    <HeaderStyle BackColor="#BBD4F8" BorderColor="Black" Font-Bold="True" Font-Names="Verdana"
                        Font-Size="7pt" ForeColor="Black" />
                    <PagerSettings PageButtonCount="4" />
                    <PagerStyle BackColor="#2461BF" Font-Names="Verdana" Font-Size="7pt" ForeColor="White"
                        HorizontalAlign="Center" />
                    <RowStyle BackColor="White" Font-Names="Verdana" Font-Size="7pt" />
                    <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
                </asp:GridView>
            </ContentTemplate>
        </asp:UpdatePanel>
        @*messagebox ----------------------------------------------------------------------------------------------------------------------*@
        <asp:Button runat="server" ID="_Btn_MessageBoxHidden" Style="display: none" />
        <ajaxToolkit:ModalPopupExtender runat="server" ID="_MPE_MessageBox" BehaviorID="_MPE_MessageBoxBehavior"
            TargetControlID="_Btn_MessageBoxHidden" PopupControlID="_Pnl_MessageBoxPopup"
            BackgroundCssClass="modalBackground" DropShadow="True" RepositionMode="RepositionOnWindowScroll">
        </ajaxToolkit:ModalPopupExtender>
        <asp:Panel runat="server" CssClass="modalPopup" ID="_Pnl_MessageBoxPopup" Style="display: none;
            padding: 10px" Width="700px">
            @*bandera 3*@
            <asp:Panel runat="Server" ID="_Pnl_MessageBox" Style="background-color: #FFFFFF; border: solid 1px Gray; color: Black; text-align: center;">
                <asp:UpdatePanel ID="_UP_MessageBox" runat="server">
                    <ContentTemplate>
                        <table style="width: 100%;">
                            <tr valign="top">
                                <td>
                                    <asp:Label ID="_Lbl_MessageBox" runat="server" Font-Names="Verdana" Font-Size="8pt"></asp:Label><br />
                                    <br />
                                    <asp:Button ID="_Btn_MessageBoxAceptar" runat="server" BorderColor="Black" BorderStyle="Solid"
                                        BorderWidth="1px" Font-Names="Verdana" Font-Size="8pt" Text="Aceptar" OnClick="_Btn_MessageBoxAceptar_Click"
                                        Style="height: 19px" />
                                </td>
                            </tr>
                        </table>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </asp:Panel>
        </asp:Panel>
        @*messagebox ----------------------------------------------------------------------------------------------------------------------*@
        @*importbox ----------------------------------------------------------------------------------------------------------------------*@
        <asp:Button runat="server" ID="_Btn_ImportBoxHidden" Style="display: none" />
        <ajaxToolkit:ModalPopupExtender runat="server" ID="_MPE_ImportBox" BehaviorID="_MPE_ImportBoxBehavior"
            TargetControlID="_Btn_ImportBoxHidden" PopupControlID="_Pnl_ImportBoxPopup" BackgroundCssClass="modalBackground"
            DropShadow="True" RepositionMode="RepositionOnWindowScroll">
        </ajaxToolkit:ModalPopupExtender>
        <asp:Panel runat="server" CssClass="modalPopup" ID="_Pnl_ImportBoxPopup" Style="display: none;
            padding: 10px;" Width="400px">
            <asp:Panel ID="_Pnl_Importar" runat="server" HorizontalAlign="Left" Style="background-color: #FFFFFF; border: solid 1px Gray; color: Black; text-align: center;">
                <p class="textoRegular">
                    Seleccione el archivo EXCEL de cuotas que desea importar:</p>
                <center>
                    <asp:FileUpload Style="margin-top: 10px;" ID="_Ctr_Archivo" runat="server" CssClass="textoRegular" Width="340" /><br><br>
                    
                    <asp:Button ID="_Btn_AceptarImportar" BorderColor="Black" BorderStyle="Solid"
                                        BorderWidth="1px" Font-Names="Verdana" Font-Size="8pt" runat="server" Text="Aceptar" OnClick="_Btn_AceptarImportar_Click" />
                     <asp:Button ID="_Btn_CancelarImportar" BorderColor="Black" BorderStyle="Solid"
                                        BorderWidth="1px" Font-Names="Verdana" Font-Size="8pt" runat="server" Text="Cancelar" OnClick="_Btn_CancelarImportar_Click" />
                </center><br>
            </asp:Panel>
        </asp:Panel>
        @*importbox ----------------------------------------------------------------------------------------------------------------------*@
        @*copiarbox ----------------------------------------------------------------------------------------------------------------------*@
        <asp:Button runat="server" ID="_Btn_CopiarBoxHidden" Style="display: none" />
        <ajaxToolkit:ModalPopupExtender runat="server" ID="_MPE_CopiarBox" BehaviorID="_MPE_CopiarBoxBehavior"
            TargetControlID="_Btn_CopiarBoxHidden" PopupControlID="_Pnl_CopiarBoxPopup" BackgroundCssClass="modalBackground"
            DropShadow="True" RepositionMode="RepositionOnWindowScroll">
        </ajaxToolkit:ModalPopupExtender>
        <asp:Panel runat="server" CssClass="modalPopup" ID="_Pnl_CopiarBoxPopup" Style="display: none;
            padding: 10px;" Width="400px">
            <asp:Panel ID="_Pnl_Copiar" Style="background-color: #FFFFFF; border: solid 1px Gray; color: Black; text-align: center;" runat="server">
                <asp:UpdatePanel ID="_UP_ImportBox" runat="server">
                    <ContentTemplate>
                        <p class="textoRegular">Seleccione el año y el mes <b>DESTINO</b> para la copia:</p>
                        
                        <asp:Label ID="_Lbl_AñoCopiar" runat="server" class="textoRegular">Año : </asp:Label>
                        <asp:DropDownList ID="_Cmb_AñoCopiar" runat="server" CssClass="textoRegular" AutoPostBack="true"
                            Width="180" Style="margin-left: 15px; margin-top: 10px;" OnSelectedIndexChanged="_Cmb_AñoCopiar_SelectedIndexChanged">
                        </asp:DropDownList>
                        <br />
                        <asp:Label ID="_Lbl_MesCopiar" runat="server" class="textoRegular">Mes : </asp:Label>
                        <asp:DropDownList ID="_Cmb_MesCopiar" runat="server" CssClass="textoRegular" AutoPostBack="true"
                            Width="180" Style="margin-left: 15px; margin-top: 10px;">
                        </asp:DropDownList>
                        <br>&nbsp;
                        <center>
                            <asp:Button Style="margin-left: 15px;" Width="108px" BorderStyle="Solid" CssClass="textoRegular" ID="_Btn_AceptarCopiar" runat="server" Text="Aceptar" OnClick="_Btn_AceptarCopiar_Click" />
                            <asp:Button Style="margin-left: 15px;" Width="108px" BorderStyle="Solid" CssClass="textoRegular" ID="_Btn_CancelarCopiar" runat="server" Text="Cancelar" OnClick="_Btn_CancelarCopiar_Click" />
                        </center><br>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </asp:Panel>
        </asp:Panel>
        @*copiarbox ----------------------------------------------------------------------------------------------------------------------*@
        @*preguntarboxparacopiar ----------------------------------------------------------------------------------------------------------------------*@
        <asp:Button runat="server" ID="_Btn_PreguntarBoxParaCopiarHidden" Style="display: none" />
        <ajaxToolkit:ModalPopupExtender runat="server" ID="_MPE_PreguntarBoxParaCopiar" BehaviorID="_MPE_PreguntarBoxBehavior"
            TargetControlID="_Btn_PreguntarBoxParaCopiarHidden" PopupControlID="_Pnl_PreguntarBoxParaCopiarPopup"
            BackgroundCssClass="modalBackground" DropShadow="True" RepositionMode="RepositionOnWindowScroll">
        </ajaxToolkit:ModalPopupExtender>
        <asp:Panel runat="server" CssClass="modalPopup" ID="_Pnl_PreguntarBoxParaCopiarPopup" Style="display: none;
            padding: 10px;" Width="400px">
            <asp:Panel ID="Panel2" runat="server" HorizontalAlign="Left" Style="background-color: #FFFFFF;
                border: solid 1px Gray; color: Black; text-align: center;">
                <p style="font-family: Verdana; font-size: 12px; text-align: left; line-height: 16px;
                    padding-left: 8px;">
                    Las cuotas creadas previamente para el mes destino serán reemplazadas. ¿Desea continuar?
                </p>
                <center>
                    <asp:Button Style="margin-left: 15px;" Width="108px" BorderStyle="Solid" CssClass="textoRegular" ID="_Btn_PreguntarBoxParaCopiarSI" runat="server" Text="Si" Font-Names="Verdana" Font-Size="8pt" OnClick="_Btn_PreguntarBoxParaCopiarSI_Click" />
                    <asp:Button Style="margin-left: 15px;" Width="108px" BorderStyle="Solid" CssClass="textoRegular" ID="_Btn_PreguntarBoxParaCopiarNO" runat="server" Text="No" Font-Names="Verdana" Font-Size="8pt" OnClick="_Btn_PreguntarBoxParaCopiarNO_Click" />
                        <br>&nbsp;
                        
                </center>
            </asp:Panel>
        </asp:Panel>
        @*preguntarboxparacopiar ----------------------------------------------------------------------------------------------------------------------*@
        @*preguntarboxparaimportar ----------------------------------------------------------------------------------------------------------------------*@
        <asp:Button runat="server" ID="_Btn_PreguntarBoxParaImportarHidden" Style="display: none" />
        <ajaxToolkit:ModalPopupExtender runat="server" ID="_MPE_PreguntarBoxParaImportar" BehaviorID="_MPE_PreguntarBoxParaImportarBoxBehavior"
            TargetControlID="_Btn_PreguntarBoxParaImportarHidden" PopupControlID="_Pnl_PreguntarBoxParaImportarPopup"
            BackgroundCssClass="modalBackground" DropShadow="True" RepositionMode="RepositionOnWindowScroll">
        </ajaxToolkit:ModalPopupExtender>
        <asp:Panel runat="server" CssClass="modalPopup" ID="_Pnl_PreguntarBoxParaImportarPopup" Style="display: none;
            padding: 10px;" Width="400px">
            <asp:Panel ID="Panel3" runat="server" Style="background-color: #FFFFFF; border: solid 1px Gray; color: Black; text-align: center;">
                <p style="font-family: Verdana; font-size: 12px; text-align: left; line-height: 16px;
                    padding-left: 8px;">
                    Las cuotas creadas previamente para el mes destino serán reemplazadas. ¿Desea continuar?
                </p>
                <center>
                    <asp:Button Style="margin-left: 15px;" Width="108px" BorderStyle="Solid" CssClass="textoRegular" ID="_Btn_PreguntarBoxParaImportarSI" runat="server" Text="Si" OnClick="_Btn_PreguntarBoxParaImportarSI_Click" />
                    <asp:Button Style="margin-left: 15px;" Width="108px" BorderStyle="Solid" CssClass="textoRegular" ID="_Btn_PreguntarBoxParaImportarNO" runat="server" Text="No" OnClick="_Btn_PreguntarBoxParaImportarNO_Click" />
                </center><br>
            </asp:Panel>
        </asp:Panel>
        @*preguntarboxparaimportar ----------------------------------------------------------------------------------------------------------------------*@
        @*update progress -----------------------------------------------------------------------------------------------------------------*@
        <div style="position: fixed; z-index: 100600; font-family: verdana; font-size: 9px;
            font-weight: bold; background-color: #FFFFFF;">
            <asp:UpdateProgress ID="_UPR_Login" runat="server" AssociatedUpdatePanelID="_UP_Datos"
                DisplayAfter="1000">
                <ProgressTemplate>
                    <center>
                        @*bandera 1*@
                        <div id="progressBackgroundFilter" style="display: none">
                        </div>
                        <div id="processMessage" style="border: 1px solid #000000" style="left: 34%; top: 34%">
                            <img alt="Procesando" src="images/animated_loading.gif"><br>
                            Procesando. Por favor espere...
                        </div>
                    </center>
                </ProgressTemplate>
            </asp:UpdateProgress>
        </div>
        @*update progress -----------------------------------------------------------------------------------------------------------------*@
        </form>
    </center>
</body>
</html>
