

@{ Register Src="controles/Menu.ascx" TagName="Menu" TagPrefix="uc1" }
@{ Register Assembly="Anthem" Namespace="Anthem" TagPrefix="anthem" }
@{ Register Src="controles/CloseSession.ascx" TagName="CloseSession" TagPrefix="uc2" }
@{ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" }
@{ Register Src="controles/Ctr_Usuario.ascx" TagName="Ctr_Usuario" TagPrefix="uc3" }
@{ Register assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" namespace="Microsoft.Reporting.WebForms" tagprefix="rsweb" }

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>T3Web -
        @{ Response.Write(_Str_TituloPantalla);}
</title>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css" />

    <script type="text/javascript">
        function _Mtd_Onload() {
            document.getElementById('progressBackgroundFilter1').style.display = "block";
        }
    </script>
</head>
<body topmargin="0" onload="_Mtd_Onload();" class="cuerpo">
    <form id="form1" runat="server">
    <center>
        <asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="True"
            EnableScriptLocalization="False">
        </asp:ScriptManager>
        <asp:UpdatePanel ID="_UP_Menu" runat="server">
            <ContentTemplate>
                <table style="width: 780px;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center">
                            <uc1:Menu ID="Menu1" runat="server" />
                        </td>
                    </tr>
                    <tr>
                        <td align="left" bgcolor="#BBD4F8" style="border: 1px solid #3b619c">
                            <table width="100%">
                                <tr>
                                    <td width="5">
                                        <font face="Verdana" size="1"><strong><span>
                                            <asp:ImageButton Style="cursor: default" ID="ImageButton1" runat="server" ImageUrl="image/separator.gif" />
                                        </span></strong></font>
                                    </td>
                                    <td width="45">
                                        <font face="Verdana" size="1"><strong><span>
                                            <asp:UpdatePanel ID="_UP_MenuPrincipal" runat="server">
                                                <ContentTemplate>
                                                    <asp:ImageButton ID="_Img_Nuevo" runat="server" ImageUrl="image/new.gif" />
                                                    <asp:ImageButton ID="_Img_Guardar" runat="server" ImageUrl="image/save.gif" />
                                                </ContentTemplate>
                                            </asp:UpdatePanel>
                                        </span></strong></font>
                                    </td>
                                    <td width="10%">
                                        <font face="Verdana" size="1"><strong><span>
                                            <asp:ImageButton Style="cursor: default" ID="ImageButton6" runat="server" ImageUrl="image/separator.gif" />
                                        </span></strong></font>
                                        <uc2:CloseSession ID="CloseSession2" runat="server" />
                                    </td>
                                    <td style="text-align: right">
                                        <uc3:Ctr_Usuario ID="Ctr_Usuario1" runat="server" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#666666">
                            <asp:Label ID="_Lbl_TituloReporte" runat="server" Text="Título del reporte" Font-Bold="True"
                                Font-Names="Verdana" Font-Size="8pt" ForeColor="White"></asp:Label>
                        </td>
                    </tr>
                </table>
            </ContentTemplate>
        </asp:UpdatePanel>
        
        <asp:UpdatePanel ID="_UP_Principal" runat="server" UpdateMode="Conditional">
            <ContentTemplate>
                <table class="textoRegular" width="780px" cellpadding="0" cellspacing="1" border=0>
                    <tr>
                        <td align="right" width="80px">
                            <b>
                                <asp:Label ID="_Lbl_Compania" runat="server" Text="Compañía :"></asp:Label>
                            </b>
                        </td>
                        <td align="left" width="5px"></td>
                        <td align="left" Width="320px">
                            <asp:DropDownList ID="_Cb_Compania" runat="server" CssClass="textoRegular" Width="320px"
                                AutoPostBack="True" Font-Size="7pt" 
                                onselectedindexchanged="_Cb_Compania_SelectedIndexChanged">
                            </asp:DropDownList>
                        </td>
                        <td align="right" width="80px">
                            <b>
                                <asp:Label ID="_Lbl_TipoReporte" runat="server" Text="Tipo reporte :"  
                                CssClass="textoRegular" Font-Bold="True" Font-Size="7pt"></asp:Label>
                            </b>
                        </td>
                         <td align="left" width="5px"></td>
                        <td align="left" Width="250px">
                            <asp:DropDownList ID="_Cb_TipoActivacion" runat="server" 
                                CssClass="textoRegular" Width="250px"
                                AutoPostBack="False" Font-Size="7pt">
                                <asp:ListItem Value="0">RESUMIDO</asp:ListItem>
                                <asp:ListItem Value="1">DETALLE CLIENTES ACTIVADOS</asp:ListItem>
                                <asp:ListItem Value="2">DETALLE CLIENTES SIN ACTIVAR</asp:ListItem>
                            </asp:DropDownList>
                            <asp:DropDownList ID="_Cb_TipoEfectividad" runat="server" 
                                CssClass="textoRegular" Width="250px"
                                AutoPostBack="False" Font-Size="7pt">
                                <asp:ListItem Value="0">CON RESPECTO A PEDIDOS</asp:ListItem>
                                <asp:ListItem Value="1">CON RESPECTO A FACTURAS</asp:ListItem>
                            </asp:DropDownList>
                            <asp:DropDownList ID="_Cb_TipoDetalle" runat="server" 
                                CssClass="textoRegular" Width="250px"
                                AutoPostBack="False" Font-Size="7pt">
                                <asp:ListItem Value="0">RESUMIDO</asp:ListItem>
                                <asp:ListItem Value="1">DETALLADO</asp:ListItem>
                            </asp:DropDownList>
                            <asp:DropDownList ID="_Cb_TipoAlimento" runat="server" 
                                CssClass="textoRegular" Width="250px"
                                AutoPostBack="False" Font-Size="7pt">
                                <asp:ListItem Value="2">PRODUCTOS TIPO ALIMENTO Y OTROS</asp:ListItem>
                                <asp:ListItem Value="1">SOLO PRODUCTOS TIPO ALIMENTO</asp:ListItem>
                                <asp:ListItem Value="0">SOLO PRODUCTOS TIPO OTROS</asp:ListItem>
                            </asp:DropDownList>
                        </td>
                    </tr>
                </table>
               
                <asp:Panel ID="_Pnl_Parametros" runat="server"></asp:Panel>
                
            </ContentTemplate>
        </asp:UpdatePanel>
        <center>
        <table cellpadding='0' cellspacing='0'>
            <tr>
              <td>
                <asp:Button ID="_Btn_Consultar" runat="server" Text="Consultar" BorderStyle="Solid" CssClass="textoRegular" onclick="_Btn_Consultar_Click" />        
              </td>
            </tr>
           <tr>
              <td><br>
               <rsweb:reportviewer id="ReportViewer1" runat="server" Height="500px" Width="100%" 
                      ShowParameterPrompts="False" Visible="false" ShowRefreshButton="False">
                   <ServerReport ReportServerUrl="" />
                </rsweb:reportviewer>
              </td>
            </tr>

        </table>
        
        

        </center>
 	     @*messagebox ----------------------------------------------------------------------------------------------------------------------*@
        <asp:Button runat="server" ID="_Btn_MessageBoxHidden" Style="display: none" />
        <ajaxToolkit:ModalPopupExtender runat="server" ID="_MPE_MessageBox" BehaviorID="_MPE_MessageBoxBehavior"
            TargetControlID="_Btn_MessageBoxHidden" PopupControlID="_Pnl_MessageBoxPopup"
            BackgroundCssClass="modalBackground" DropShadow="True" RepositionMode="RepositionOnWindowScroll">
        </ajaxToolkit:ModalPopupExtender>
        <asp:Panel runat="server" CssClass="modalPopup" ID="_Pnl_MessageBoxPopup" Style="display: none;padding: 10px" Width="700px">
            <asp:Panel runat="Server" ID="_Pnl_MessageBox" Style="background-color: #FFFFFF; border: solid 1px Gray; color: Black; text-align: center;">
                <asp:UpdatePanel ID="_UP_MessageBox" runat="server">
                    <ContentTemplate>
                        <table style="width: 100%;">
                            <tr valign="top">
                                <td>
                                    <asp:Label ID="_Lbl_MessageBox" runat="server" Font-Names="Verdana" Font-Size="8pt"></asp:Label><br /><br />
                                    <asp:Button ID="_Btn_MessageBoxAceptar" runat="server" BorderColor="Black" BorderStyle="Solid" BorderWidth="1px" Font-Names="Verdana" Font-Size="8pt" Text="Aceptar" OnClick="_Btn_MessageBoxAceptar_Click" Style="height: 19px" />
                                </td>
                            </tr>
                        </table>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </asp:Panel>
        </asp:Panel>
        @*messagebox ----------------------------------------------------------------------------------------------------------------------*@

        @*update progress ----------------------------------------------------------------------------------------------------------------------*@
        <div style="position: fixed; z-index: 100600; font-family: verdana; font-size: 9px;
            font-weight: bold; background-color: #FFFFFF;">
            <asp:UpdateProgress ID="_UPR_Principal" runat="server" AssociatedUpdatePanelID="_UP_Principal"
                DisplayAfter="1000">
                <ProgressTemplate>
                    <center>
                        <div id="progressBackgroundFilter1" style="display: block" class="progressBackgroundFilter">
                        </div>
                        <div id="processMessage" style="border: 1px solid #000000" style="left: 34%; top: 34%">
                            <img alt="Procesando" src="images/animated_loading.gif"><br>
                            Procesando. Por favor espere...
                        </div>
                    </center>
                </ProgressTemplate>
            </asp:UpdateProgress>
        </div>
        @*update progress ----------------------------------------------------------------------------------------------------------------------*@
        
    @*el Script de exportacion es PQC para habilitar la exportacion cuando el reporte se abre desde T3Win*@
    @*sin este script, la exportacion se abre en un proceso paralelo, y da error de sesión*@
    @*este script solo se activa cuando el reporte se abre desde t3win, y si el conrtrol ReportViewer1 está visible*@
    @{ Response.Write(_Str_ScriptExportacion);}

   
    </center>
    </form>
    


</body>
</html>