

@{ Register Src="controles/Menu.ascx" TagName="Menu" TagPrefix="uc1" }
@{ Register Src="controles/CloseSession.ascx" TagName="CloseSession" TagPrefix="uc2" }
@{ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" }

@{ Register src="controles/Ctr_Usuario.ascx" tagname="Ctr_Usuario" tagprefix="uc3" }

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
	<title>T3Web - @{ Response.Write(_Str_TituloPantalla);}
</title>
	<link rel="stylesheet" type="text/css" href="StyleSheet.css" />
</head>

<body topmargin="0" bgcolor='white'>
	<form id="form1" runat="server">
	<center>
		<asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="True" EnableScriptLocalization="False"></asp:ScriptManager>
		<table style="width: 780px;" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left">
					<uc1:Menu ID="Menu1" runat="server" />
				</td>
			</tr>
			<tr>
				<td align="left" bgcolor="#BBD4F8" style="border: 1px solid #3b619c">
					<font face="Verdana" size="1"><strong><span>
						<table width="100%">
                            <tr>
                                <td width="5">
                                    <font face="Verdana" size="1"><strong><span>
                                        <asp:ImageButton Style="cursor: default" ID="ImageButton4" runat="server" ImageUrl="image/separator.gif" />
                                    </span></strong></font>
                                </td>
                                <td width="45">
                                    <font face="Verdana" size="1"><strong><span>
                                        <asp:UpdatePanel ID="_Upd_PanelBoton" runat="server" UpdateMode="Conditional">
                                            <ContentTemplate>
                                                <asp:ImageButton ID="_Img_Nuevo" runat="server" ImageUrl="image/new.gif" CausesValidation="False" />
                                                <asp:ImageButton ID="_Img_Guardar" runat="server" ImageUrl="image/save.gif" ValidationGroup="GuardarPedido" />
                                               
                                            </ContentTemplate>
                                        </asp:UpdatePanel>
                                    </span></strong></font>
                                </td>
                                <td width="10%">
                                    <font face="Verdana" size="1"><strong><span>
                                        <asp:ImageButton Style="cursor: default" ID="ImageButton5" runat="server" ImageUrl="image/separator.gif" />
                                    </span></strong></font>
                                    <uc2:CloseSession ID="CloseSession1" runat="server" />
                                </td>
                                <td style="text-align: right">
                                    <uc3:Ctr_Usuario ID="Ctr_Usuario1" runat="server" />
                                </td>
                            </tr>
                        </table>
						
					</span></strong></font>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#666666">
					<asp:Label ID="_Lbl_TituloReporte" runat="server" Text="Título de la pantalla" Font-Bold="True" Font-Names="Verdana" Font-Size="8pt" ForeColor="White"></asp:Label>
				</td>
			</tr>
		</table>
		
		<table width=780px>
			<tr>
				<td>
					<asp:UpdatePanel ID="_UP_Reporte" runat="server" UpdateMode="Conditional">
						<ContentTemplate>
							<table width="100%">
								<tr>
									<td align="left" width="100"><asp:Label ID="_Lbl_Compania" runat="server" Text="Compañia :" CssClass="textoRegular"></asp:Label></td>
									<td align="left"><asp:DropDownList ID="_Cb_ConsultaCompania" runat="server" AutoCallBack="True" Font-Names="Verdana" Font-Size="8pt" Width="390px" AutoPostBack="True" CssClass="textoRegular" onselectedindexchanged="_Cb_ConsultaCompania_SelectedIndexChanged"></asp:DropDownList></td>
								</tr>
				                <tr>
                                    <td align="left" width="100"><span class="textoRegular">Desde :</span></td>
                                    <td align="left">
                                        <asp:TextBox ID="_Txt_FechaDesde" runat="server" ReadOnly="false" Enabled="false" Width="148px" AutoCallBack="True"></asp:TextBox>
                                        <ajaxToolkit:CalendarExtender ID="MiCalendario_CalendarExtender" runat="server" Enabled="True" TargetControlID="_Txt_FechaDesde" PopupButtonID="_Img_CalendarioH0"></ajaxToolkit:CalendarExtender>
                                        <asp:ImageButton ID="_Img_CalendarioH0" runat="server" ImageUrl="~/images/calendario.gif" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" width="100"><span class="textoRegular">Hasta :</span></td>
                                        <td align="left">
                                            <asp:TextBox ID="_Txt_FechaHasta" runat="server" AutoCallBack="True" 
                                                Enabled="false" ReadOnly="false" Width="148px"></asp:TextBox>
                                            <ajaxToolkit:CalendarExtender ID="_Txt_FechaHasta_CalendarExtender" 
                                                runat="server" Enabled="True" PopupButtonID="_Img_CalendarioH1" 
                                                TargetControlID="_Txt_FechaHasta">
                                            </ajaxToolkit:CalendarExtender>
                                            <asp:ImageButton ID="_Img_CalendarioH1" runat="server" 
                                                ImageUrl="~/images/calendario.gif" 
                                                style="height: 12px" />
                                        </td>
                                    </caption>
                                </tr>
                                
							</table>
						
				            <br>
                            <asp:Button ID="_Btn_Generar" runat="server" BorderStyle="Solid" 
                                BorderWidth="1px" CssClass="textoRegular" onclick="_Btn_Generar_Click" 
                                Text="Generar archivos" Width="130px" />
                            <br><br>
                            <table width='100%'>
							<tr>
							    <td>
                                <asp:Panel ID="_Pnl_Archivos" runat="server">
                                    <span class="textoRegular" style="color:red">Para descargar los archivos, haga clic con el botón derecho sobre cada uno de los enlaces<br>y seleccione la opción '<b>Guardar destino como...</b>'</span><br><br>
                                    <a class="textoTitulo" href="archivos/CLIENTES.TXT">CLIENTES</a><br><br>
                                    <a class="textoTitulo" href="archivos/SELL-OUT.TXT">SELL-OUT</a><br>
                                 </asp:Panel>
                                </td>
                             </tr>
							</table>
							
					        </ContentTemplate>
					</asp:UpdatePanel>
					
                        
				</td>
			</tr>
		</table>
	</center>

 @*messagebox ----------------------------------------------------------------------------------------------------------------------*@
    <asp:Button runat="server" ID="_Btn_MessageBoxHidden" Style="display: none" />
    <ajaxToolkit:ModalPopupExtender runat="server" ID="_MPE_MessageBox" BehaviorID="_MPE_MessageBoxBehavior"
        TargetControlID="_Btn_MessageBoxHidden" PopupControlID="_Pnl_MessageBoxPopup"
        BackgroundCssClass="modalBackground" DropShadow="True" RepositionMode="RepositionOnWindowScroll">
    </ajaxToolkit:ModalPopupExtender>
    <asp:Panel runat="server" CssClass="modalPopup" ID="_Pnl_MessageBoxPopup" Style="display: block;
        padding: 10px" Width="700px">
        @*bandera 3*@
        <asp:Panel runat="Server" ID="_Pnl_MessageBox" Style="background-color: #FFFFFF;
            border: solid 1px Gray; color: Black; text-align: center;">
            <asp:UpdatePanel ID="_UP_MessageBox" runat="server">
                <ContentTemplate>
                    <table style="width: 100%;">
                        <tr valign="top">
                            <td>
                                <asp:Label ID="_Lbl_MessageBox" runat="server" Font-Names="Verdana" Font-Size="8pt"></asp:Label><br /><br />
                                <asp:Button ID="_Btn_MessageBoxAceptar" runat="server" BorderColor="Black" BorderStyle="Solid" BorderWidth="1px" Font-Names="Verdana" Font-Size="8pt" Text="Aceptar" OnClick="_Btn_MessageBoxAceptar_Click" Style="height: 19px" />
                            </td>
                        </tr>
                    </table>
                </ContentTemplate>
            </asp:UpdatePanel>
        </asp:Panel>
    </asp:Panel>
    @*messagebox ----------------------------------------------------------------------------------------------------------------------*@	
    
    @*update progress ----------------------------------------------------------------------------------------------------------------------*@
	<div style="position: fixed; z-index: 100600; font-family: verdana; font-size: 9px; font-weight: bold; background-color: #FFFFFF;">
	<asp:UpdateProgress ID="_UPR_Login" runat="server" AssociatedUpdatePanelID="_UP_Reporte" DisplayAfter="20">
		<ProgressTemplate>
			<center>
				@*bandera 1*@
				<div id="progressBackgroundFilter" style="display: block"></div>
				<div id="processMessage" style="border:1px solid #000000" style="left: 34%; top: 34%">
					<img alt="Procesando" src="images/animated_loading.gif"><br>Procesando. Por favor espere...
				</div>
			</center>
		</ProgressTemplate>
	</asp:UpdateProgress>
	</div>
	@*update progress ----------------------------------------------------------------------------------------------------------------------*@

	</form>
</body>
</html>