

@{ Register Src="controles/Menu.ascx" TagName="Menu" TagPrefix="uc1" }
@{ Register Src="controles/CloseSession.ascx" TagName="CloseSession" TagPrefix="uc2" }
@{ Register Src="controles/Ctr_Usuario.ascx" TagName="Ctr_Usuario" TagPrefix="uc3" }
@{ Register Assembly="Anthem" Namespace="Anthem" TagPrefix="anthem" }
@{ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" }

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<title>T3Web - Configuración de tipos de establecimiento Nestlé DMS1</title>
<link rel="stylesheet" type="text/css" href="StyleSheet.css" />
<style type="text/css">
    
    .barra
    {
        height: 21px;
        width: 775px;
        background-color: #bbd4f8; 
        border-left: #3b619c 1px solid;
        border-right: #3b619c 1px solid;
    }
    
    .titulo
    {
        padding: 5px;
        font-family: Verdana;
        font-size: x-small;
        font-weight: bold;
        margin-bottom: 20px;
        background-color: #666666;
        color: White;
        text-align: center;
        width: 773px;
    }
    
    .contenedor
    {
        text-align: left;
    }
    
    .estados
    {
        padding: 8px;
    }
    
    .estados .etiqueta
    {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .estado
    {
        padding-top: 10px;
        padding-left: 20px;        
        padding-bottom: 10px;
    }
    
    .estados .combo
    {
        margin-top: 4px;
    }
    
    .resultados
    {
        padding: 5px;
    }
    
    .detalle
    {        
        border: Solid 1px Black;
        margin-top: 20px;
        margin-left: 30px;
        width: 700px;
    }
    
    .detalle table .etiqueta
    {        
        text-align: right;
        width: 200px;
    }
    
    .detalle table .campo
    {
        padding-left: 10px;
        text-align: left;
        width: 170px;
    }
    
    .boton
    {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .comentario
    {
        padding: 8px;
        margin-left: 8px;
        margin-top: 200px;
        text-align: center;
    }
    
    .fondo 
    {
        position: absolute;
        z-index: 3000;
        filter: alpha(opacity=90);
        background-color: #808080;        
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        text-align: center;        
    }
    
    .fondo .dialogo
    {
        box-shadow: 5px 5px 3px Black;
        background-color: White;
        border: 1px Solid Black;
        margin: 110px auto;
        padding: 15px;
        text-align: center;        
        width: 800px;
        height: 410px;    
    }
    
    .fondo .dialogo .marco
    {
        left: 2px;
        top: 2px;
        width: 99.7%;
        height: 99.7%;
        border: 1px Solid Gray;
    }
    
    .fondo .reloj
    {
        background-color: White;
        border: 1px Solid Black;
        margin: 16% auto;
        padding: 5px;
        width: 350px;
        height: 60px;
        font-family: Verdana;
        font-size: x-small;
        font-weight: bold;
    }
    
    .fondo .reloj img
    {
        padding-bottom: 5px;
    }

</style>
<script type="text/javascript">

    function _Mtd_BloquearCambioDePestana(sender, args) {
        if (sender.get_activeTabIndex() == 1 || sender.get_activeTabIndex() == 2) {            
        }
    }

    function _Mtd_MostrarTab(_Int_Tab) {
        var container = $find('_TC_Principal');
        container.set_activeTabIndex(_Int_Tab);
    }
          
</script>
</head>
<body topmargin="0" class="cuerpo">
<center>
    <form id="Frm_ConfCiudadDMS1" runat="server">
    <asp:ScriptManager ID="Manejador" runat="server" EnableScriptGlobalization="True"
            EnableScriptLocalization="False">
    </asp:ScriptManager>
    <asp:Timer ID="_Cronometro" Interval="1" Enabled="false" runat="server" 
            ontick="_Cronometro_Tick"></asp:Timer>
    <asp:UpdatePanel ID="_UP_Menu" runat="server">   
        <ContentTemplate>
        <table style="width: 773px; height: 49px;" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <uc1:Menu ID="Menu1" runat="server" />
                </td>
            </tr>
            <tr>
                <td>
                    <table class="barra">
                    <tr>
                    <td width="5">
                        <font face="Verdana" size="1"><strong><span>
                            <asp:ImageButton Style="cursor: default" ID="ImageButton1" runat="server" ImageUrl="image/separator.gif" />
                        </span></strong></font>
                    </td>
                    <td width="45">
                        <font face="Verdana" size="1"><strong><span>
                            <asp:UpdatePanel ID="MnuPrincipal" runat="server">
                                <ContentTemplate>
                                    <asp:ImageButton ID="_Btn_Nuevo" runat="server" ImageUrl="image/new.gif" Enabled="False" />
                                    <asp:ImageButton ID="_Btn_Guardar" runat="server" ImageUrl="image/save.gif" Enabled="False" OnClick="_Btn_Guardar_Click" OnClientClick="_Mtd_MostrarTab(0);" />
                                </ContentTemplate>
                            </asp:UpdatePanel>
                        </span></strong></font>
                    </td>
                    <td width="10%">
                        <font face="Verdana" size="1"><strong><span>
                            <asp:ImageButton Style="cursor: default" ID="ImageButton6" runat="server" ImageUrl="image/separator.gif" />
                        </span></strong></font>
                        <uc2:CloseSession ID="CloseSession2" runat="server" />
                    </td>
                    <td style="text-align: right">
                        <uc3:Ctr_Usuario ID="Ctr_Usuario1" runat="server" />
                    </td>
                    </tr>                    
                    </table>
                </td>
            </tr>
        </table>
        </ContentTemplate> 
    </asp:UpdatePanel>  
    <asp:UpdatePanel ID="_UP_Datos" runat="server" UpdateMode="Conditional">
        <Triggers>
            <asp:AsyncPostBackTrigger ControlID="_Cronometro" EventName="Tick" />
        </Triggers>
        <ContentTemplate>
           <table cellpadding="0" cellspacing="0">
                <tr><td class="titulo">Configuración de tipos de establecimiento Nestlé DMS1</td></tr>
           </table><br /><br />
           <asp:Panel ID="_Pnl_TabContainer" runat="server" Visible="true">
                <ajaxToolkit:TabContainer ID="_TC_Principal" runat="server" ActiveTabIndex="0" 
                Width="773px" AutoPostBack="False"
                OnActiveTabChanged="_TC_Principal_ActiveTabChanged"                 
                OnClientActiveTabChanged="_Mtd_BloquearCambioDePestana" 
                    CssClass="ajax__tab_yuitabview-theme contenedor"> 
                    <ajaxToolkit:TabPanel ID="_TP_Consulta" runat="server" HeaderText="Consulta">  
                        <HeaderTemplate>Consulta</HeaderTemplate>      
                        <ContentTemplate>
                            <asp:Panel runat="server" CssClass="estados">
                                <asp:Label ID="_Lbl_Estado" runat="server" Font-Bold="True" Font-Names="Verdana" CssClass="etiqueta"
                                        Font-Size="7pt">Canal T3: </asp:Label>
                                <asp:DropDownList ID="_Cmb_Canal" runat="server" AutoPostBack="True" CssClass="combo"
                                        BackColor="Silver" Font-Names="Verdana" Font-Size="7pt" 
                                        Width="350px" OnSelectedIndexChanged="_Cmb_Canal_SelectedIndexChanged">
                                </asp:DropDownList>
                            </asp:Panel>
                            <asp:Panel runat="server" CssClass="resultados">
                                <asp:GridView ID="_Dtg_Detalle" runat="server" CellPadding="4" ForeColor="#333333" 
                                    AutoGenerateColumns="False" Font-Bold="False" Font-Names="Verdana" 
                                    Font-Size="7pt" OnPageIndexChanging="_Dtg_Detalle_PageIndexChanging" 
                                    OnSelectedIndexChanged="_Dtg_Detalle_SelectedIndexChanged" 
                                    AllowPaging="True">   
                                    <AlternatingRowStyle BackColor="White" />
                                    <Columns>
                                        <asp:TemplateField ShowHeader="False">
                                            <ItemTemplate>
                                                <asp:ImageButton ID="cdetalle" CommandName="Select" runat="server" ImageUrl="logos/ver.gif" OnClientClick="_Mtd_MostrarTab(1);" />                                                
                                            </ItemTemplate>
                                            <ItemStyle HorizontalAlign="Center" Width="50px" />
                                        </asp:TemplateField>
                                        <asp:BoundField DataField="cname" HeaderText="Tipo de establecimiento T3">
                                            <ItemStyle HorizontalAlign="Left" Width="500px" />
                                        </asp:BoundField>
                                        <asp:BoundField DataField="cramo" HeaderText="Código ramo nestlé">
                                            <ItemStyle HorizontalAlign="Center" Width="220px" />
                                        </asp:BoundField>
                                        <asp:BoundField DataField="ctestablecim" HeaderText="Código establecimiento">
                                            <ItemStyle HorizontalAlign="Center" Width="220px" />
                                        </asp:BoundField>  
                                    </Columns>                                    
                                    <EditRowStyle BackColor="#2461BF" />
                                    <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
                                    <HeaderStyle BackColor="#BBD4F8" BorderColor="Black" Font-Bold="True" Font-Names="Verdana"
                                        Font-Size="7pt" ForeColor="Black" />
                                    <PagerSettings PageButtonCount="4" />
                                    <PagerStyle BackColor="#2461BF" Font-Names="Verdana" Font-Size="7pt" ForeColor="White" HorizontalAlign="Center" />
                                    <RowStyle BackColor="White" Font-Names="Verdana" Font-Size="7pt" />
                                    <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
                                </asp:GridView>
                            </asp:Panel>
                    </ContentTemplate>      
                    </ajaxToolkit:TabPanel> 
                    <ajaxToolkit:TabPanel ID="_TP_Detalle" runat="server" HeaderText="Detalle">      
                        <HeaderTemplate>Detalle</HeaderTemplate>
                        <ContentTemplate>
                            <asp:Panel runat="server" CssClass="estado">
                                <asp:Label ID="_Lbl_Canal" runat="server" Font-Bold="True" Font-Names="Verdana"
                                                Font-Size="8pt">Canal T3 : </asp:Label>
                                <asp:Label ID="_Lbl_ValorCanal" runat="server" Font-Names="Verdana" 
                                                Font-Size="8pt">&nbsp;</asp:Label>
                                <asp:Label ID="_Lbl_CodigoEstablecimiento" runat="server" Font-Names="Verdana" Visible="false" 
                                                Font-Size="8pt">&nbsp;</asp:Label>
                            </asp:Panel>
                            <asp:Panel runat="server" CssClass="detalle">
                                <table>
                                    <tr>
                                        <td class="etiqueta">
                                            <asp:Label ID="_Lbl_Ramo" runat="server" Font-Bold="True" Font-Names="Verdana" 
                                                Font-Size="8pt">Código ramo nestlé : </asp:Label>
                                        </td>
                                        <td class="campo">
                                            <asp:Label ID="_Lbl_ValorRamo" runat="server" Font-Names="Verdana"  
                                                Font-Size="8pt">&nbsp;</asp:Label>
                                        </td>  
                                        <td rowspan="2">
                                            <asp:Button ID="_Btn_Mostrar" runat="server" Font-Names="Verdana" CssClass="boton" Width="250px"
                                                Font-Size="8pt" Text="Seleccionar..." OnClick="_Btn_Mostrar_Click" />
                                        </td>   
                                    </tr>
                                </table>
                            </asp:Panel>
                            <asp:Panel runat="server" CssClass="comentario">                                
                                <asp:Label ID="_Lbl_Comentario" runat="server" Font-Names="Verdana" Font-Size="7pt" 
                                    Font-Bold="true" ForeColor="Red">
                                    Recuerde que para guardar cualquier modificación debe utilizar el botón 'Guardar' que se 
                                    encuentra en la parte superior izquierda.
                                </asp:Label>
                            </asp:Panel>                            
                        </ContentTemplate>                        
                    </ajaxToolkit:TabPanel>
                    </ajaxToolkit:TabContainer>
            </asp:Panel>
            <asp:Panel runat="server" ID="_Pnl_PanelCiudades" CssClass="fondo" Visible="false">
                <asp:Panel runat="server" ID="_Pnl_CiudadesNestle" CssClass="dialogo">
                    <div class="marco">
                        <asp:Panel runat="server"><br />
                            <asp:Label ID="_Lbl_Titulo" runat="server" Font-Bold="True" Font-Names="Verdana"
                                Font-Size="14pt">Configuración para tipo de establecimiento T3:</asp:Label><br />
                            <asp:Label ID="_Lbl_Subtitulo" runat="server" Font-Bold="True" Font-Names="Verdana"
                                Font-Size="12pt"></asp:Label><br /><br />
                            <asp:Label ID="_Lbl_Descripcion" runat="server" Font-Bold="True" Font-Names="Verdana"
                                Font-Size="8pt">Código ramo nestlé</asp:Label><br /><br />
                            <asp:ListBox ID="_Lbox_RamosNestle" runat="server" Height="200px" 
                                SelectionMode="Single" Width="600px" BackColor="Silver" 
                                Font-Names="Verdana" Font-Size="8pt"
                                AutoPostBack="False">
                            </asp:ListBox><br />                 
                            <asp:Button ID="_Btn_Seleccionar" runat="server" Font-Names="Verdana" CssClass="boton" Width="150px"
                                Font-Size="8pt" Text="Seleccionar" OnClick="_Btn_Seleccionar_Click" />
                            <asp:Button ID="_Btn_Cancelar" runat="server" Font-Names="Verdana" CssClass="boton" Width="150px"
                                Font-Size="8pt" Text="Cancelar" OnClick="_Btn_Cancelar_Click" />
                        </asp:Panel>
                    </div>              
                </asp:Panel>
            </asp:Panel>
            <asp:Panel runat="server" ID="_Pnl_Reloj" CssClass="fondo" Visible="false">                
                <center>
                    <div class="reloj">
                        <img alt="Procesando" src="images/animated_loading.gif"><br>
                        Procesando. Por favor espere...
                    </div>
                </center>
            </asp:Panel>
        </ContentTemplate>
    </asp:UpdatePanel>
        
    @*messagebox ----------------------------------------------------------------------------------------------------------------------*@
    <asp:Button runat="server" ID="_Btn_MessageBoxHidden" Style="display: none" />
    <ajaxToolkit:ModalPopupExtender runat="server" ID="_MPE_MessageBox" BehaviorID="_MPE_MessageBoxBehavior"
        TargetControlID="_Btn_MessageBoxHidden" PopupControlID="_Pnl_MessageBoxPopup"
        BackgroundCssClass="modalBackground" DropShadow="True" RepositionMode="RepositionOnWindowScroll">
    </ajaxToolkit:ModalPopupExtender>
    <asp:Panel runat="server" CssClass="modalPopup" ID="_Pnl_MessageBoxPopup" Style="display: none;padding: 10px" Width="700px">
        @*bandera 3*@
        <asp:Panel runat="Server" ID="Panel1" Style="background-color: #FFFFFF; border: solid 1px Gray; color: Black; text-align: center;">
            <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                <ContentTemplate>
                    <table style="width: 100%;">
                        <tr valign="top">
                            <td>
                                <asp:Label ID="_Lbl_MessageBox" runat="server" Font-Names="Verdana" Font-Size="8pt"></asp:Label><br /><br />
                                <asp:Button ID="_Btn_MessageBoxAceptar" runat="server" BorderColor="Black" BorderStyle="Solid" BorderWidth="1px" Font-Names="Verdana" Font-Size="8pt" Text="Aceptar" OnClick="_Btn_MessageBoxAceptar_Click" Style="height: 19px" />
                            </td>
                        </tr>
                    </table>
                </ContentTemplate>
            </asp:UpdatePanel>
        </asp:Panel>
    </asp:Panel>
    @*messagebox ----------------------------------------------------------------------------------------------------------------------*@
    
    </form>
</center>
</body>
</html>