

@{ Register assembly="Anthem" namespace="Anthem" tagprefix="anthem" }

@{ Register src="controles/Menu.ascx" tagname="Menu" tagprefix="uc1" }

@{ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="ajaxToolkit" }

@{ Register src="controles/CloseSession.ascx" tagname="CloseSession" tagprefix="uc2" }

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title></title>
    <style type="text/css">
        .style2
        {
            font-size: 10px;
            font-family: Verdana;
            font-weight: bold;
        }
        .modalBackground
        {
          background-color:#000000;
          filter:alpha(opacity=60);
          opacity:0.5;
        }
       .modalPopup {
	        background-color:#ffffdd;
	        border-width:3px;
	        border-style:solid;
	        border-color:Gray;
	        padding:3px;
	        width:500px;
        }
@*#progressBackgroundFilter {
            position:fixed; 
            top:0px; 
            bottom:0px; 
            left:0px;
            right:0px;
            overflow:hidden; 
            padding:0; 
            margin:0; 
            background-color:#000; 
            filter:alpha(opacity=60); 
            opacity:0.5; 
            z-index:0; 
        }
        #processMessage  
        {
        	background-color: #FFFFFF; border: 30px solid #000000;
        	position:fixed; 
            top:30%; 
            left:43%;
            padding:10px; 
            width:30%; 
            z-index:0; 
            background-color:#fff;
            font-family: Verdana;
            font-size:12px;
        }*@
    </style>
</head>
<body topmargin='0'>
   <form id="form1" runat="server">
        <div align="center">
           <asp:ScriptManager ID="ScriptManager1" runat="server" />
        <table style="width: 780px" cellpadding="0" cellspacing="0"><tr><td align="center">
            <uc1:Menu ID="Menu1" runat="server" />
            </td></tr><tr><td align="left" bgcolor="#BBD4F8" 
                    style="border: 1px solid #3b619c">
                <font face="Verdana" size="1"><strong><span>
                <asp:ImageButton ID="ImageButton4" runat="server" 
                    ImageUrl="image/separator.gif" />
                <anthem:ImageButton ID="ImageButton2" runat="server" 
                    AutoUpdateAfterCallBack="True" CausesValidation="False" 
                    ImageUrl="image/new.gif" />
                <anthem:ImageButton ID="_Btn_Guardar" runat="server" 
                    AutoUpdateAfterCallBack="True" ImageUrl="image/save.gif" />
                <asp:ImageButton ID="ImageButton5" runat="server" 
                    ImageUrl="image/separator.gif" />
                </span></strong></font>
                <uc2:CloseSession ID="CloseSession1" runat="server" />
            </td></tr><tr><td align="left"><br />
            <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                <ContentTemplate>                    
                   
                    <table style="width:100%;">
                        <tr>
                            <td class="style2" colspan="2">
                                Datos del Cliente</td>
                        </tr>
                        <tr>
                            <td class="style2" width="20%">
                                Pedidos:</td>
                            <td>
                                <asp:TextBox ID="_Txt_Pedido" runat="server" BorderColor="#000001" 
                                    BorderStyle="Solid" BorderWidth="1px" Font-Names="Verdana" Font-Size="8pt" 
                                    ReadOnly="True" Width="89px"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="style2">
                                Cliente:</td>
                            <td>
                                <asp:TextBox ID="_Txt_Cliente" runat="server" BorderColor="#000001" 
                                    BorderStyle="Solid" BorderWidth="1px" Font-Names="Verdana" Font-Size="8pt" 
                                    ReadOnly="True" Width="539px"></asp:TextBox>
                                &nbsp;<asp:Button ID="_Btn_BuscarCliente" runat="server" BorderWidth="1px" 
                                    Font-Names="Verdana" Font-Size="8pt" onclick="_Btn_BuscarCliente_Click" 
                                    Text=". . ." />
                            </td>
                        </tr>
                        <tr valign="top">
                            <td class="style2">
                                Dirección de Despacho:</td>
                            <td>
                                <asp:TextBox ID="_Txt_DireccDespa" runat="server" BorderColor="#000001" 
                                    BorderStyle="Solid" BorderWidth="1px" Font-Names="Verdana" Font-Size="8pt" 
                                    ReadOnly="True" TextMode="MultiLine" Width="539px"></asp:TextBox>
                                &nbsp;<asp:Button ID="_Btn_BuscarDirDespa" runat="server" BorderWidth="1px" 
                                    Font-Names="Verdana" Font-Size="8pt" Text=". . ." />
                            </td>
                        </tr>
                        <tr valign="top">
                            <td class="style2" colspan="2">
                                <asp:RadioButton ID="_Rbt_Producto" runat="server" AutoPostBack="True" 
                                    Enabled="False" GroupName="Productos" 
                                    oncheckedchanged="_Rbt_Producto_CheckedChanged" Text="Por Producto" />
                                &nbsp;<asp:RadioButton ID="_Rbt_Grupo" runat="server" AutoPostBack="True" 
                                    Enabled="False" GroupName="Productos" 
                                    oncheckedchanged="_Rbt_Grupo_CheckedChanged" Text="Por Grupo" />
                            </td>
                        </tr>
                        <tr valign="top">
                            <td class="style2" colspan="2">
                                <asp:Panel ID="_Pnl_Productos" runat="server">
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </asp:Panel>
                                <asp:Panel ID="_Pnl_PorGrupos" runat="server">
                                </asp:Panel>
                            </td>
                        </tr>
                        <tr valign="top">
                            <td class="style2">
                                &nbsp;</td>
                            <td>
                                &nbsp;</td>
                        </tr>
                    </table>
                   
                </ContentTemplate>
                <Triggers>
                    <asp:AsyncPostBackTrigger ControlID="_Btn_BuscarCliente" EventName="Click" />
                </Triggers>
            </asp:UpdatePanel>
        
            </td></tr></table>        
        </div>
   
    </form>
</body>
</html>
